// $icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// $fa-font-path: '../bower_components/font-awesome/fonts/';
// $fa-font-path: '../fonts';
$icon-font-path: "../fonts";
// bower:scss
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
//http://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext

@font-face {
    font-family: 'kalingaregular';
    src: url($icon-font-path + '/kalinga-webfont.eot');
    src: url($icon-font-path + '/kalinga-webfont.eot?#iefix') format('embedded-opentype'),
         url($icon-font-path + '/kalinga-webfont.woff') format('woff'),
         url($icon-font-path + '/kalinga-webfont.ttf') format('truetype'),
         url($icon-font-path + '/kalinga-webfont.svg#kalingaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
//@font-face {
//    font-family: 'kalingabold';
//    src: url($icon-font-path + '/kalingab-webfont.eot');
//    src: url($icon-font-path + '/kalingab-webfont.eot?#iefix') format('embedded-opentype'),
//         url($icon-font-path + '/kalingab-webfont.woff') format('woff'),
//         url($icon-font-path + '/kalingab-webfont.ttf') format('truetype'),
//         url($icon-font-path + '/kalingab-webfont.svg#kalingabold') format('svg');
//    font-weight: normal;
//    font-style: normal;
//}

* {
  font-family: 'kalingaregular';
}

/* NAVBAR
-------------------------------------------------- */
.navbar-brand {
  font-family: 'kalingaregular';
  font-size: 26px;
}

.navbar-nav > li > a {
  font-weight: 900;
}

.nav > li > a:hover, .nav > li > a:active {
  background-color: transparent;
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

.navbar-default {
  background-color: rgba(255,255,255,0.9);
  border-color: transparent;
}

/* CAROUSEL
-------------------------------------------------- */
.carousel {
  height: 500px;
  margin-bottom: 60px;
  
  .carousel-caption {
    z-index: 10;
  }
  .item {
    height: 500px;
    background-color: #777;
  }
}


.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.comingsoon {
  background-color: rgba(255,255,255, 0.5);
  font-size: 30px;
  border-radius: 4px;
}

/* Learn, Make, Share
-------------------------------------------------- */
.learn { 
  color: orange;    
}

.make {
  color: #00b3fe; //#6CA9E6;
}

.share {
  color: #FF6C6C;
}

/* Marketing Message */
.marketing {
  .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
    i.fa { font-size: 80px; }
    p {
      margin-right: 10px;
      margin-left: 10px;
    }
  } 
  h2 {
    font-weight: normal;
  }
  
}



/* Featurettes
------------------------- */
.feature {
  background-repeat: no-repeat;
  padding-bottom: 65px;
  padding-top: 50px;
  text-align: center;
  padding-top: 90px;

  .green {
    background-color: #1ABC9C;
    color: #E4E6E5;
  }
  .orange {
    background-color: #f39c12;
    color: #e4e6e5;
  }
  .darkblue {
    background-color: #34495e;
    color: #e4e6e5;
  }
}


/* FOOTER 
--------------------------- */
footer {
  background-color: #2F2F2F;
  padding-bottom: 150px;
  color: white;
  padding-top: 30px;
  
  h1 {
    margin-bottom: 50px; 
  }
  i.fa {
    font-size: 80px;
    color: white;
    margin-right: 60px;
  }
}


