// $icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// $fa-font-path: '../bower_components/font-awesome/fonts/';
// $fa-font-path: '../fonts';
$icon-font-path: "../fonts";
// bower:scss
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
//http://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext

@font-face {
    font-family: 'kalingaregular';
    src: url($icon-font-path + '/kalinga-webfont.eot');
    src: url($icon-font-path + '/kalinga-webfont.eot?#iefix') format('embedded-opentype'),
         url($icon-font-path + '/kalinga-webfont.woff') format('woff'),
         url($icon-font-path + '/kalinga-webfont.ttf') format('truetype'),
         url($icon-font-path + '/kalinga-webfont.svg#kalingaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


//@font-face {
//    font-family: 'kalingabold';
//    src: url($icon-font-path + '/kalingab-webfont.eot');
//    src: url($icon-font-path + '/kalingab-webfont.eot?#iefix') format('embedded-opentype'),
//         url($icon-font-path + '/kalingab-webfont.woff') format('woff'),
//         url($icon-font-path + '/kalingab-webfont.ttf') format('truetype'),
//         url($icon-font-path + '/kalingab-webfont.svg#kalingabold') format('svg');
//    font-weight: normal;
//    font-style: normal;
//}

* {
  font-family: 'kalingaregular';
}

$learn: #FFA500;
$make: #00b3fe; //#6CA9E6;
$share: #FF6C6C;
$about: #2F2F2F;

$arduino: #00979C;
$raspberrypi: #C61931;
$dfab: #71456C;


/* NAVBAR
-------------------------------------------------- */
.navbar-default {
  background-color: rgba(255,255,255,0.9);
  border-color: transparent;
  border-bottom: 1px solid #ccc;
}

.navbar-nav {
  .navbar-brand {
    font-family: 'kalingaregular';
    font-size: 26px;
  }

  &.languages {
    li {
      a {
        color: #ccc;
        font-variant-caps: all-small-caps;
      }
    }
  }
}

#main {
  margin-top: 50px;
}

/* List
------------------------------- */
ul {
  &.list-info {
    line-height: 2em;
  }
}

/* CAROUSEL
-------------------------------------------------- */
//div class="bgSizeCover">
//  <p>Try resizing this window and see what happens.</p>
//</div>
//
//.bgSizeCover {
//  height: 200px;
//  background-image: url('/files/2917/fxlogo.png');
//  background-size: cover;
//  border: 2px solid darkgray;
//  color: #000; text-shadow: 1px 1px 0 #fff;

.carousel {
  height: 500px;
  margin-bottom: 60px;
  
  .carousel-indicators {
    top: 60px;
  }
  a { color: white; 
    &:hover { text-decoration: none; }
  }
  h1 {
    color: white;
    small { color: white; font-style: italic; }

    &.caption-bottom {
      position: absolute;
      bottom: 0px;
      left: 0px;
      background-color: rgba(0,0,0,0.6);
      width: 100%;
      padding: 20px;
      margin: 0px;
    }
  }

  .carousel-caption {
    z-index: 10;
  }
  .item {
    height: 500px;
    background-color: #777;
  }
}


.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* Learn, Make, Share
-------------------------------------------------- */
.learn {  color: $learn; }
.make  {  color: $make; }
.share {  color: $share; }

/* Marketing Message */
.marketing {
  margin-bottom: 20px;
  margin-top: 40px;
  
  .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
    i.fa { font-size: 80px; }
    p {
      margin-right: 10px;
      margin-left: 10px;
    }
  } 
  h2 {
    font-weight: normal;
  }
  
}



/* Featurettes
------------------------- */
.feature {
  background-repeat: no-repeat;
  padding: 50px 10px 50px 20px;
  margin: 0px; 
  
  .logo {
//    width: 100px;
    max-width: 100px;
    max-height: 100px;
  }
  
  &.green {
    background-color: #1ABC9C;
    color: #444;
    a {
      color: black;
    }
  }
  &.orange {
    background-color: #f39c12;
    color: white; //#e4e6e5;
    a { color: white; }
  }
  &.darkblue {
    background-color: #34495e;
    color: #e4e6e5;
  }
  &.brown {
    background-color: $about;
    color: white;
  }
  &.arduino {
    background-color: $arduino;
    color: #d6d6d6;
  }
  &.raspberrypi {
    background-color: $raspberrypi;
    color: white;
  }
  &.dfab {
    background-color: $dfab;
    color: white;
  }
  
  &.extra {
    margin: 50px 0px 50px 0px;
  }
  &.extra-light {
    margin: 50px 0px -50px 0px;
    padding: 10px;
  }
}


/* FOOTER 
--------------------------- */
.foot {
  background-color: #2F2F2F;
  padding-bottom: 150px;
  color: white;
  padding-top: 30px;
  
  h1 {
    margin-bottom: 50px; 
  }
  i.fa {
    font-size: 80px;
    color: white;
    margin-right: 60px;
  }
}


/* Table 
--------------------------- */
.table {
  h2 {
    font-size: 20px;
    margin: 0px 0px 6px 0px;
  }
  tbody {
    tr {
      .comingsoon {
        position: relative;
      }
    }
    td, th {
      time {
        font-family: 'Lato', sans-serif;
        width: 100px;
      }
    }
  }
}

/* Schedule
--------------------------- */
time {
  font-family: 'Lato', sans-serif;
  display: inline-block;
  width: 100%;
  color: rgb(255, 255, 255);
//  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  
  &.completed { color: #c9c9c9; }

  span {
    display: none;
  }
  .day {
    display: block;
//    font-size: 56pt;
    font-size: 40px;
    font-weight: 100;
    line-height: 1;
  }
  .month {
    display: block;
//    font-size: 24pt;
    font-size: 16px;
    font-weight: 900;
    line-height: 1;
  }
}

/* Workshops 
--------------------------- */
.ws-bck {
  color: white;
  padding: 3px;
  a { color: #c9c9c9; }
  &.arduino {
    background-color: $arduino;
  }
  &.raspberrypi {
    background-color: $raspberrypi;
  }
  &.dfab {
    background-color: $dfab;
  }
  &.completed {
    color: #c9c9c9 !important;
    opacity: 0.5;
  }
}


blockquote.face {
  border: none;
  &.blockquote-reverse { border:none; }
  img {
    margin-right: 10px;
    margin-left: 10px;
  }
}
.people {
  border: 1px solid white;
  &.medium {
    width: 70px; height: 70px;
  }
  &.small {
    width: 50px; height: 50px;
  }
}

/* Hexagon
----------------------------- */
.hexagon {
  width: 100px;
  height: 55px;
  background: black;
  position: relative;
  text-align: center;
 
  &:before {
    content: "";
	position: absolute;
	top: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 25px solid black;
  }
  &:after {
    content: "";
	position: absolute;
	bottom: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 25px solid black;
  }
  
  span {
    font-size: 13px;
  }
}

