//http://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext
//@font-face {
//    font-family: 'kalingaregular';
//    src: url($icon-font-path + '/kalinga-webfont.eot');
//    src: url($icon-font-path + '/kalinga-webfont.eot?#iefix') format('embedded-opentype'),
//         url($icon-font-path + '/kalinga-webfont.woff') format('woff'),
//         url($icon-font-path + '/kalinga-webfont.ttf') format('truetype'),
//         url($icon-font-path + '/kalinga-webfont.svg#kalingaregular') format('svg');
//    font-weight: normal;
//    font-style: normal;
//}


//@font-face {
//    font-family: 'kalingabold';
//    src: url($icon-font-path + '/kalingab-webfont.eot');
//    src: url($icon-font-path + '/kalingab-webfont.eot?#iefix') format('embedded-opentype'),
//         url($icon-font-path + '/kalingab-webfont.woff') format('woff'),
//         url($icon-font-path + '/kalingab-webfont.ttf') format('truetype'),
//         url($icon-font-path + '/kalingab-webfont.svg#kalingabold') format('svg');
//    font-weight: normal;
//    font-style: normal;
//}

//* {
//  font-family: 'kalingaregular';
//}

$learn: #FFA500;
$make: #00b3fe; //#6CA9E6;
$share: #FF6C6C;
$about: #2F2F2F;

$arduino: #00979C;
$raspberrypi: #C61931;
$dfab: #71456C;

#toolbar-top {
//  background-color: transparent;
}