// $icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// $fa-font-path: '../bower_components/font-awesome/fonts/';
// $fa-font-path: '../fonts';
$icon-font-path: "../fonts";
// bower:scss
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
//http://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext

@font-face {
    font-family: 'kalingaregular';
    src: url($icon-font-path + '/kalinga-webfont.eot');
    src: url($icon-font-path + '/kalinga-webfont.eot?#iefix') format('embedded-opentype'),
         url($icon-font-path + '/kalinga-webfont.woff') format('woff'),
         url($icon-font-path + '/kalinga-webfont.ttf') format('truetype'),
         url($icon-font-path + '/kalinga-webfont.svg#kalingaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
//@font-face {
//    font-family: 'kalingabold';
//    src: url($icon-font-path + '/kalingab-webfont.eot');
//    src: url($icon-font-path + '/kalingab-webfont.eot?#iefix') format('embedded-opentype'),
//         url($icon-font-path + '/kalingab-webfont.woff') format('woff'),
//         url($icon-font-path + '/kalingab-webfont.ttf') format('truetype'),
//         url($icon-font-path + '/kalingab-webfont.svg#kalingabold') format('svg');
//    font-weight: normal;
//    font-style: normal;
//}

* {
  font-family: 'kalingaregular';
}

$learn: #FFA500;
$make: #00b3fe; //#6CA9E6;
$share: #FF6C6C;


/* NAVBAR
-------------------------------------------------- */
.navbar-brand {
  font-family: 'kalingaregular';
  font-size: 26px;
}

.navbar-nav > li > a {
  font-weight: 900;
}

.nav > li > a:hover, .nav > li > a:active {
  background-color: transparent;
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

.navbar-default {
  background-color: rgba(255,255,255,0.9);
  border-color: transparent;
}

/* CAROUSEL
-------------------------------------------------- */
.carousel {
  height: 500px;
  margin-bottom: 60px;
  
  .carousel-indicators {
    top: 60px;
  }
  a { color: white; 
    &:hover { text-decoration: none; }
  }
  h1 {
    color: white;
    small { color: white; font-style: italic; }

    &.caption-bottom {
      position: absolute;
      bottom: 0px;
      left: 0px;
      background-color: rgba(0,0,0,0.6);
      width: 100%;
      padding: 20px;
      margin: 0px;
    }
  }

  .carousel-caption {
    z-index: 10;
  }
  .item {
    height: 500px;
    background-color: #777;
  }
}


.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* Learn, Make, Share
-------------------------------------------------- */
.learn {  color: $learn; }
.make  {  color: $make; }
.share {  color: $share; }

/* Marketing Message */
.marketing {
  .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
    i.fa { font-size: 80px; }
    p {
      margin-right: 10px;
      margin-left: 10px;
    }
  } 
  h2 {
    font-weight: normal;
  }
  
}



/* Featurettes
------------------------- */
.feature {
  background-repeat: no-repeat;
  padding: 50px 10px 50px 20px;
  margin: 0px; 
  
  &.green {
    background-color: #1ABC9C;
    color: #E4E6E5;
  }
  &.orange {
    background-color: #f39c12;
    color: white; //#e4e6e5;
  }
  &.darkblue {
    background-color: #34495e;
    color: #e4e6e5;
  }
  
  &.extra {
    margin: 50px 0px 50px 0px;
  }
}


/* FOOTER 
--------------------------- */
.foot {
  background-color: #2F2F2F;
  padding-bottom: 150px;
  color: white;
  padding-top: 30px;
  
  h1 {
    margin-bottom: 50px; 
  }
  i.fa {
    font-size: 80px;
    color: white;
    margin-right: 60px;
  }
}


/* Table 
--------------------------- */
.table {
  h2 {
    font-size: 20px;
    margin: 0px 0px 6px 0px;
  }
}


/* Workshops 
--------------------------- */
.ws1 {
  background-color: #00979C;
  color: white;
}
.ws2 {
  background-color: #C61931;
  color: white;
}
.ws3 {
  background-color: #71456C;
  color: white;
}


blockquote.face {
  border: none;
  &.blockquote-reverse { border:none; }
  img {
    margin-right: 10px;
    margin-left: 10px;
  }
}
.people {
  border: 1px solid white;
  &.small {
    width: 50px; height: 50px;
  }
}
