<div class="feature brown" id="about">
  <div class="container">
    <div class="row">
      <h1 class="col-md-12">minchee lab</h1>
    </div>
  </div>
</div>


<div class="container marketing">
  <div class="row">
    <div class="col-md-12">
      <h2>A Fab Lab <small>made in Macau</small></h2>
      <!--      <p>Minchee Lab is a Macau-based association and it is part of the international <a href="http://www.fabfoundation.org/">network of fab labs</a> created in 2005 in the <a href="http://fab.cba.mit.edu/">MIT</a>.</p>-->

      <p class="lead">Objectives</p>
      <p>We are dedicated to digital fabrication and creative electronics....</p>
    </div>
  </div>
</div>
<div class="feature green">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Join us! <small>become a member</small></h2>
        <p>Membership is open to all! We believe that the community will make the fab lab. For this year we have put in place a very simple membership that should allow everyone to join and help us develop Minchee Lab.
          <br>Since our services are limited for 2014/2015, the membership offers a few benefits and more importantly it helps to start planning the future.
        </p>
        <p>This membership is only for individual (corporate membership will be available later):
          <ul>
            <li>100MOP for one year</li>
            <li>Discount on all workshops: 100MOP instead of 150MOP</li>
            <li>Membership Card</li>
            <li>5% discount on the <a href="https://maker.macausource.mo/store/">maker shop from MacauSource.mo</a>
            </li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</div>


<!--
<div class="feature orange" id="blog">
  <div class="container">
    <h3>The Team <small><em>human, passionate and sometime crazy!</em></small></h3>
    <p>The fab lab has been initiated by a few motivated people. We are all passionate about technologies and their implication in our daily life.
         
    </p>
        <ul class="list-inline">
          <li>
          <img src="images/people_neilgershenfeld.jpg" alt="" class="people medium img-circle">
          <br>
          Gerald</li>
          <li><img src="images/people_neilgershenfeld.jpg" alt="" class="people medium img-circle">
          <br>Marco</li>
          <li><img src="images/people_neilgershenfeld.jpg" alt="" class="people small">
          <br>Daniel</li>
          <li><img src="images/people_neilgershenfeld.jpg" alt="" class="people small">
          <br>Kitty</li>
        </ul>
  </div>
</div>
-->


<div ng-include src="'views/footer.html'"></div>
