<div class="feature brown" id="equipment">
  <div class="container">
    <div class="row">
      <h1 class="col-md-12">Equipment</h1>
    </div>
  </div>
</div>
 <div class="container">
  <div class="row">
    <div class="col-md-12">
     <p>&nbsp;</p>
      <div class="alert alert-info">
        list of available equipment...
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      Minchee Lab has access to the following equipments:
      
      <ul>
        <li>Epilog Laser Cutter</li>
        <li>Reprap Prusa i3 3D Printers (several available, all "homemade")</li>
        <li>Ultimaker 1 and 2</li>
        <li>Vinyl Cutter</li>
        <li>CNC soon...</li>
        <li>to be completed...</li>
      </ul>
    </div>
  </div>
</div>