<!--<h3><i class="fa fa-angle-double-left"></i> Back to list</h3>-->
 

<div id="ws20140926" ng-class="{'hide': ws != 'ws20140926'}">
  <div class="ws-bck arduino">
    <h1><i>Arduino 101</i></h1>
  </div>

  <ul class="list-unstyled">
          <li><i class="fa fa-calendar"></i> Friday September 26th, 7pm to 10:30pm</li>
          <li><i class="fa fa-map-marker"></i> USJ Digital Fabrication Lab</li>
          <li>Registration: 100MOP/workshop (maximum 20 seats).</li>
          <li>Languages: English and Chinese.</li>
        </ul>
  
  <small><a href="" class="btn btn-lg btn-primary">register now!</a></small>
</div>


<div id="ws20141031" ng-class="{'hide': ws != 'ws20141031'}">
  <h1>Raspberry Pi 101</h1>
  <ul class="list-unstyled">
          <li><i class="fa fa-calendar"></i> Time: 7pm to 10:30pm</li>
          <li>Registration: 100MOP/workshop (maximum 20 seats).</li>
          <li>Languages: English and Chinese.</li>
        </ul>
  
  <small><a href="">register now!</a></small>
</div>