<!doctype html>
<html lang="en" ng-app="mincheeapp">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Minchee Lab, the first Fab Lab in Macau</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="Minchee Foundation, Minchee Lab the first fab lab in Macau, China" />
  <meta name="keywords" content="fablab, macau, macao, china, sharing, making, experimenting, education, research, maker, education">
  <base href="/">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
  <!--
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon.png" />
-->

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css({.tmp,app}) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
  <!-- build:js scripts/vendor/modernizr.js -->
  <!--  <script src="bower_components/modernizr/modernizr.js"></script>-->
  <!-- endbuild -->
</head>

<body layout="row" ng-controller="AppCtrl">

  <md-sidenav class="md-sidenav-left" md-component-id="left">
    sidenav
  </md-sidenav>
  <div layout="column" flex>
    <md-toolbar id="toolbar-top">
      <button class="docs-menu-icon" hide-gt-sm aria-label="Toggle Menu">menu
<!--
        <md-icon md-svg-src="img/icons/ic_menu_24px.svg" class="ng-isolate-scope md-default-theme" aria-hidden="true">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="100%" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve" fit="" preserveAspectRatio="xMidYMid meet" style="pointer-events: none; display: block;">
            <g id="Header">
              <g>
                <rect x="-618" y="-2232" fill="none" width="1400" height="3600"></rect>
              </g>
            </g>
            <g id="Label">
            </g>
            <g id="Icon">
              <g>
                <rect fill="none" width="24" height="24"></rect>
                <path d="M3,18h18v-2H3V18z M3,13h18v-2H3V13z M3,6v2h18V6H3z" style="fill:#f3f3f3;"></path>
              </g>
            </g>
            <g id="Grid" display="none">
              <g display="inline">
              </g>
            </g>
          </svg>
        </md-icon>
-->
      </button>
      
      <h2 class="md-toolbar-tools">
        <span>Toolbar</span>
      </h2>
    </md-toolbar>
    <md-content>
      content here...
      <md-button ng-click="openLeftMenu()" class="md-accent">
      Open Left Menu
    </md-button>
    </md-content>
  </div>

  <!--
 <md-toolbar layout="row">
      <button ng-click="toggleSidenav('left')" hide-gt-sm class="menuBtn">
        <span class="visually-hidden">Menu</span>
      </button>
      <h1 class="md-toolbar-tools" layout-align-gt-sm="center">Hello World</h1>
    </md-toolbar>
    <div layout="row" flex>
        <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
          <md-toolbar class="md-default-theme">
      <h1 class="md-toolbar-tools">
        <a ng-href="/" layout="row" flex="" class="docs-logo" href="/">
          <md-icon md-svg-src="menu" class="ng-isolate-scope md-default-theme" aria-hidden="true"><svg version="1.1" x="0px" y="0px" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" style="pointer-events: none; display: block;"><path d="M 50 0 L 100 14 L 92 80 L 50 100 L 8 80 L 0 14 Z" fill="#b2b2b2"></path><path d="M 50 5 L 6 18 L 13.5 77 L 50 94 Z" fill="#E42939"></path><path d="M 50 5 L 94 18 L 86.5 77 L 50 94 Z" fill="#B72833"></path><path d="M 50 7 L 83 75 L 72 75 L 65 59 L 50 59 L 50 50 L 61 50 L 50 26 Z" fill="#b2b2b2"></path><path d="M 50 7 L 17 75 L 28 75 L 35 59 L 50 59 L 50 50 L 39 50 L 50 26 Z" fill="#fff"></path></svg></md-icon>
          <div class="docs-logotype">Minchee Lab</div>
        </a>
      </h1>
    </md-toolbar>
        </md-sidenav>
        <div layout="column" flex id="content">
            <md-content layout="column" flex class="md-padding">
              
            </md-content>
        </div>
    </div>
-->


  <!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

  <!--  <div ng-include src="'views/navbar.html'"></div>-->
  <!--  <div id="main" role="main" ui-view></div>-->

  <!-- build:js scripts/vendor.js -->
  <!-- bower:js -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js scripts/plugins.js -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <!-- endbuild -->

  <!-- build:js scripts/main.js -->
  <script src="scripts/app.js"></script>
  <!-- endbuild -->

<!--
  <script>
    (function (b, o, i, l, e, r) {
      b.GoogleAnalyticsObject = l;
      b[l] || (b[l] =
        function () {
          (b[l].q = b[l].q || []).push(arguments)
        });
      b[l].l = +new Date;
      e = o.createElement(i);
      r = o.getElementsByTagName(i)[0];
      e.src = '//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-52656892-1');
    ga('send', 'pageview');
  </script>
-->
</body>

</html>