<div class="feature brown" id="about">
  <div class="container">
    <div class="row">
      <h1 class="col-md-12">minchee lab</h1>
    </div>
  </div>
</div>

<div class="container marketing">
  <div class="row">
    <div class="col-md-12">
      <h2>A Fab Lab <small>made in Macau</small></h2>
      <p>Minchee Lab is a Macau-based association and it is part of the international <a href="http://www.fabfoundation.org/">network of fab labs</a> created in 2005 in the <a href="http://fab.cba.mit.edu/">MIT</a>.</p>
      
      <p class="lead">Objectives</p>
      <p>We are dedicated to digital fabrication and creative electronics.</p>
      
      <h2>Join us! <small>become a member</small></h2>
      <p>Membership is open to all Macau citizen....</p> 
      
    </div>
  </div>
</div>



<div class="feature orange" id="blog">
  <div class="container">
    <h3>The Team <small><em>human, passionate and sometime crazy!</em></small></h3>
    <p>The fab lab has been initiated by a few motivated people. We are all passionate about technologies and their implication in our daily life.
         
    </p>
        <ul class="list-inline">
          <li>
          <img src="images/people_neilgershenfeld.jpg" alt="" class="people medium img-circle">
          <br>
          Gerald</li>
          <li><img src="images/people_neilgershenfeld.jpg" alt="" class="people medium img-circle">
          <br>Marco</li>
          <li><img src="images/people_neilgershenfeld.jpg" alt="" class="people small">
          <br>Daniel</li>
          <li><img src="images/people_neilgershenfeld.jpg" alt="" class="people small">
          <br>Kitty</li>
        </ul>
  </div>
</div>


<div ng-include src="'views/footer.html'"></div>
