<footer class="foot">
  <div class="container">
    <div class="row">
      <h1 class="col-md-12">Get in <em>touch</em> with us</h1>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <a href="mailto:mincheelab@gmail.com"><i class="fa fa-envelope"></i></a>
        <a target="_blank" href="https://plus.google.com/104097367849812545502" rel="publisher"><i class="fa fa-google-plus"></i></a>
        <a target="_blank" href="https://www.facebook.com/mincheelab"><i class="fa fa-facebook"></i></a>
        <a target="_blank" href="https://twitter.com/mincheelab"><i class="fa fa-twitter"></i></a>
        <a target="_blank" href="https://github.com/mincheelab"><i class="fa fa-github"></i></a>
      </div>
    </div>
  </div>
</footer>