<div class="feature green extra">
  <h1><span translate="Projects">Projects</span> 
    <br><small translate="@mincheelab">@mincheelab</small>
	</h1>
</div>
<div ui-view>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-info">
          we will start sharing here some of our projects...be patient...we only have 2 hands and 24 hours per day ;-)
        </div>
      </div>
    </div>

    <div class="row">
      <h2 class="col-md-12">2015</h2>
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="/images/projects/201502-qrgoat.jpg" alt="QRGoat" style="max-height:195px;">
          <div class="caption">
            <h3>"QRGoat"</h3>
            <p>more soon...</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="/images/projects/201503-solarpanelmockup.jpg" alt="Solar Panel">
          <div class="caption">
            <h3>Solar Panel Mockup</h3>
            <p>more soon...</p>
<!--
            
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a>
            </p>
-->
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <h2 class="col-md-12">2014</h2>
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="/images/projects/201411_3dprintersshowcase.jpg" alt="3D Printer Showcase" style="max-height:195px;">
          <div class="caption">
            <h3>3D Printers Art Showcase</h3>
            <p>more soon...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>