<div class="feature green extra">
    <h1><span translate="Projects">Projects</span> 
    <br><small translate="@mincheelab">@mincheelab</small>
	</h1>
  </div>
<div ui-view>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-info">
          we will start sharing here some of our projects...be patient...we only have 2 hands and 24 hours per day ;-)
        </div>
      </div>
    </div>
    
    <div class="row">
       <h2 class="col-md-12">2015</h2>
      <div class="col-md-4">
        "QRGoat"
      </div>
    </div>
    <hr>
    <div class="row">
       <h2 class="col-md-12">2014</h2>
      <div class="col-md-4">
        3D Printers Art Showcase
      </div>
    </div>
  </div>
</div>