<div class="feature darkblue extra">
  <h1><i>2014-2015 Workshops</i>
	  <br>
	</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <p>Minchee Lab, your unique fab lab in Macau, is organizing monthly workshops to allow all to <strong class="learn">learn</strong>, <strong class="make">make</strong> and <strong class="share">share</strong>. Come and join us to discover and learn how to create interactive systems, 3d print your objects, etc… and more importantly to have a unique experience with other people!
      </p>
      
      <p>This year we are proposing to focus on 3 major topics: <span class="ws1">Arduino</span>, <span class="ws2">Raspberry Pi</span> and <span class="ws3">Digital Fabrication</span>. Of course, this is in no way a limitation and we will adapt if needed.</p>
      
      <p>Most of these workshops have the following information unless specified:
        <ul>
          <li>Time: 7pm to 10:30pm</li>
          <li>Registration: 100MOP/workshop (maximum 20 seats).</li>
          <li>Languages: English and Chinese.</li>
        </ul>
        <small class="text-muted">Note: these workshops are mainly targeting adults and teenagers, if younger kids are interested let us know and we will try to work out some dedicated workshops for them.</small>
      </p>
      <table class="table">
        <thead></thead>
        <tbody>
          <tr>
            <th>Sept 26th
              <span class="label label-info pull-right">free <i class="fa fa-star"></i></span>
            </th>
            <td>
              <h2>First Meetup <small><a href="">registration</a></small></h2>
              <p>Let's meet and build our local community!</p>
            </td>
          </tr>
          <tr class="ws1">
            <th>Oct 31st</th>
            <td>
              <h2>Arduino 101</h2>
              <p>Arduino Fundamentals</p>
            </td>
          </tr>
          <tr>
            <th>Nov 20th
            <span class="label label-info pull-right">free <i class="fa fa-star"></i></span>
            </th>
            <td>
              <h2>Conference</h2>
              <i>"The Maker movement and the digital fabrication revolution: what are the opportunities for Macau?"</i>
            </td>
          </tr>
          <tr class="ws3">
            <th>Nov 20th</th>
            <td>
              <h2>Digital Fabrication 101</h2>
              <p>initial step with 3D Printer</p>
            </td>
          </tr>
          <tr class="ws2">
            <th>Dec</th>
            <td>
              <h2>Raspberry Pi 101</h2>
            </td>
          </tr>
          <tr class="ws1">
            <th>Jan 30th</th>
            <td>
              <h2>Arduino 102</h2>
            </td>
          </tr>
          <tr class="ws3">
            <th>Feb 27th</th>
            <td>
              <h2>Digital Fabrication 102</h2>
            </td>
          </tr>
          <tr class="ws2">
            <th>Mar 27th</th>
            <td>
              <h2>Raspberry Pi 102</h2>
            </td>
          </tr>
          <tr>
            <th>Apr 24th</th>
            <td>
              <h2>DIY-1</h2>
            </td>
          </tr>
          <tr class="ws1">
            <th>May 29th</th>
            <td>
              <h2>Arduino 103</h2>
            </td>
          </tr>
          <tr>
            <th>Jun 26th
              <span class="label label-info pull-right">free <i class="fa fa-star"></i></span>
            </th>
            <td>
              <h2>DIY-2</h2>
              <p>The last session</p>
            </td>
          </tr>
        </tbody>
      </table>
      
      <ul>
        <li>
          <span class="label label-info">free <i class="fa fa-star"></i></span> : workshop free of charge for all.    
        </li>
      </ul>
      
    </div>
  </div>
</div>