<div ui-view>
  <div class="feature orange extra">
    <h1><i translate="workshopsSchedule">Workshops Schedule</i> <br><small translate="workshops2014">Season 2014/2015</small>
	</h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p ng-show="currentLanguage == 'en'">Minchee Lab is organizing monthly workshops to allow all to <strong class="learn">learn</strong>, <strong class="make">make</strong> and <strong class="share">share</strong>. Come and join us to discover and learn how to create interactive systems, 3d print your objects, etc… and more importantly to collaborate on projects and have a unique experience with other people!
        </p>
        <p ng-show="currentLanguage == 'zh'">Minchee Lab, your very first fab lab in Macau, is organizing monthly workshops to allow all to <strong class="learn">learn</strong>, <strong class="make">make</strong> and <strong class="share">share</strong>. Come and join us to discover and learn how to create interactive systems, 3d print your objects, etc… and more importantly to collaborate and have a unique experience with other people!
        </p>
        <p ng-show="currentLanguage == 'en'">
          This year we are proposing to focus on 3 major topics: <span class="ws-bck arduino">Arduino</span>, <span class="ws-bck raspberrypi">Raspberry Pi</span> and <span class="ws-bck dfab">Digital Fabrication</span>. Of course, this is in no way a limitation and we will adapt if needed.
          <ul>
            <li>Participants <strong>must</strong> register in advance to join a workshop</li>
            <li>Participants should bring their own laptop (Mac or PC) but specific equipment such as Arduino, etc... will be provided during the workshop. However participants are encouraged to buy these kits (can buy during workshop) for personal usage and work on some projects.</li>
          </ul>
        </p>

        <p>
          <small class="text-muted">Note: these workshops are mainly targeting adults and teenagers, if younger kids are interested let us know and we will try to work out some dedicated workshops for them.</small>
        </p>

        <table class="table">
          <!--
        <thead>

  <tr>
    <th colspan="2" class="text-right">
      filters: <span class="ws-bck arduino" ng-click="">Arduino</span>  <span class="ws-bck raspberrypi">Raspberry Pi</span>  <span class="ws-bck dfab">Digital Fabrication</span>
    </th>
  </tr>

</thead>
-->
          <tbody>
            <tr class="ws-bck completed">
              <th>
                <a ui-sref="workshops.item({ wsday: 'ws20140926'})">
                  <time datetime="2014-09-26" class="completed">
                    <span class="day">26</span>
                    <span class="month">Sep</span>
                    <span class="year">2014</span>
                    <span class="time">19:00-22:30</span>
                  </time>
                </a>
                <span class="label label-info pull-right">free <i class="fa fa-star"></i></span>
              </th>
              <td>
                <h2>First Meetup</h2>
                <p>Let's meet and build our local community! <a ui-sref="workshops.item({ wsday: 'ws20140926'})">read more <i class="fa fa-angle-double-right"></i></a>
                </p>

              </td>
            </tr>
            <tr class="ws-bck completed">
              <th>
                <a ui-sref="workshops.item({ wsday: 'ws20141031'})">
                  <time datetime="2014-10-31" class="completed">
                    <span class="day">31</span>
                    <span class="month">Oct</span>
                    <span class="year">2014</span>
                    <span class="time">19:00-22:30</span>
                  </time>
                </a>
              </th>
              <td>
                <h2>Raspberry Pi 101</h2>
                <p>This workshop will introduce the Raspberry Pi computer and provide attendees with the basics to start building projects based on this platform
                  <a ui-sref="workshops.item({ wsday: 'ws20141031'})">read more <i class="fa fa-angle-double-right"></i></a>
                </p>
              </td>
            </tr>
            <tr class="ws-bck completed">
              <th>
                <a ui-sref="workshops.item({ wsday: 'ws20141122'})">
                  <time datetime="2014-11-22" class="completed">
                    <span class="day">22</span>
                    <span class="month">Nov</span>
                    <span class="year">2014</span>
                    <span class="time">ALL DAY</span>
                  </time>
                </a>
              </th>
              <td>
                <h2>"Make Your Own 3D Printer"</h2>
                Want to know more about 3D Printer? Make your own! Workshop co-organized with `This Is My City` Festival
                <a ui-sref="workshops.item({ wsday: 'ws20141122'})">read more <i class="fa fa-angle-double-right"></i></a>
              </td>
            </tr>
            <tr class="ws-bck completed">
              <th>
                <a ui-sref="workshops.item({wsday: 'ws20141122'})">
                  <time datetime="2014-11-26" style="color:black;" class="completed">
                    <span class="day">26</span>
                    <span class="month">Nov</span>
                    <span class="year">2014</span>
                    <span class="time">17:00-18:00</span>
                  </time>
                </a>
                <span class="label label-info pull-right">free <i class="fa fa-star"></i></span>
              </th>
              <td>
                <h2>Conference and Showcase</h2>
                <i>"The Maker movement: a chance for Macau!"</i>
                <p>A short conference to introduce the maker movement around the world and its implication for Macau</p>
                <!--              <a ui-sref="workshops.item({ wsday: 'ws20141120'})">read more <i class="fa fa-angle-double-right"></i></a>-->
                <!--                <p><br>follow up by the first screening in Macau of the <i class="fa fa-video-camera"></i> "<a href="http://makerthemovie.com/" target="_blank">Maker the movie</a>"</p>-->
              </td>
            </tr>


            <tr class="ws-bck 1dfab completed">
              <th>
               <a ui-sref="workshops.item({ wsday: 'ws20141202'})">
                <time datetime="2014-12-02" class="completed">
                  <span class="day">02</span>
                  <span class="month">Dec</span>
                  <span class="year">2014</span>
                  <span class="time">19:00-22:30</span>
                </time>
                </a>
              </th>
              <td>
<!--
                <a ui-sref="workshops.item({ wsday: 'ws20141202'})">
                  <p class="hexagon pull-right"><span><br>REGISTRATION<br>OPEN</span>
                  </p>
                </a>
-->
                <h2>3D Modeling with <a href="http://blender.org/" target="_blank">Blender</a></h2>
                <p>learn the basic of Blender in 2 sessions to make 3D model of object and print them on a 3D Printer! 
                <a ui-sref="workshops.item({ wsday: 'ws201202'})">read more <i class="fa fa-angle-double-right"></i></a>
                </p>
              </td>
            </tr>

            <tr class="ws-bck arduino">
              <th>
                <a ui-sref="workshops.item({ wsday: 'ws20150116'})">
                  <time datetime="2015-01-16">
                    <span class="day">16</span>
                    <span class="month">Jan</span>
                    <span class="year">2015</span>
                    <span class="time">18:30-22:30</span>
                  </time>
                </a>
              </th>
              <td>
               <a ui-sref="workshops.item({ wsday: 'ws20150116'})">
                  <p class="hexagon pull-right"><span><br>REGISTRATION<br>OPEN</span>
                  </p>
                </a>
                <h2>Arduino 101</h2>
                <p>Arduino Fundamentals: let's discover this unique tool for makers and build some projects 
                  <a ui-sref="workshops.item({ wsday: 'ws20150116'})">read more <i class="fa fa-angle-double-right"></i></a>
                </p>
              </td>
            </tr>
<!--
            <tr class="ws-bck arduino">
              <th>
                <time datetime="2015-01-30">
                  <span class="day">30</span>
                  <span class="month">Jan</span>
                  <span class="year">2015</span>
                  <span class="time">19:00-22:30</span>
                </time>
              </th>
              <td>
                <h2>Arduino 102</h2>
                <p>...more soon...</p>
              </td>
            </tr>
-->
            <tr class="ws-bck dfab">
              <th>
                <time datetime="2015-02-27">
                  <span class="day">27</span>
                  <span class="month">Feb</span>
                  <span class="year">2015</span>
                  <span class="time">19:00-22:30</span>
                </time>
              </th>
              <td>
                <h2>Digital Fabrication 102</h2>
                <p>Prototyping / Laser Cutter...more soon...</p>
              </td>
            </tr>
            <tr class="ws-bck raspberrypi">
              <th>
                <time datetime="2015-03-27">
                  <span class="day">27</span>
                  <span class="month">Mar</span>
                  <span class="year">2015</span>
                  <span class="time">19:00-22:30</span>
                </time>
              </th>
              <td>
                <h2>Raspberry Pi 102</h2>
                <p>...more soon...</p>
              </td>
            </tr>
            <tr>
              <th>
                <time datetime="2015-04-24" style="color:black;">
                  <span class="day">24</span>
                  <span class="month">Apr</span>
                  <span class="year">2015</span>
                  <span class="time">19:00-22:30</span>
                </time>
              </th>
              <td>
                <h2>DIY-1</h2>
                <p>Quadcopter? Microscope? Weather Station?...more soon...</p>
              </td>
            </tr>
            <tr class="ws-bck arduino">
              <th>
                <time datetime="2015-05-29">
                  <span class="day">29</span>
                  <span class="month">May</span>
                  <span class="year">2015</span>
                  <span class="time">19:00-22:30</span>
                </time>
              </th>
              <td>
                <h2>Arduino 103</h2>
                <p>...more soon...</p>
              </td>
            </tr>
            <tr>
              <th>
                <time datetime="2014-06-26" style="color:black;">
                  <span class="day">26</span>
                  <span class="month">Jun</span>
                  <span class="year">2015</span>
                  <span class="time">19:00-22:30</span>
                </time>
                <span class="label label-info pull-right">free <i class="fa fa-star"></i></span>
              </th>
              <td>
                <h2>DIY-2</h2>
                <p>...more soon...</p>
              </td>
            </tr>
          </tbody>
        </table>

        <ul>
          <li>
            <span class="label label-info">free <i class="fa fa-star"></i></span> : workshop free of charge for all.
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>